.mat-select-disable {
    opacity: 0.7;
    cursor: none;
    pointer-events: none;
}

.size {
    min-width: 100vw;
    min-height: 100vh;

}

.example-form {
    margin: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

mat-form-field {
    min-width: 300px;
}