<form class="example-form" [formGroup]="formGroup">
    <mat-form-field>
        <mat-label>Select Status</mat-label>
        <mat-select formControlName="status" (selectionChange)="filterData()">
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let status of allStatus" [value]="status">{{status}}</mat-option>
        </mat-select>
        <!-- <mat-hint align="end">Select status</mat-hint> -->
    </mat-form-field>

    <mat-form-field>
        <mat-label>Select Priority</mat-label>
        <mat-select formControlName="priority" (selectionChange)="filterData()">
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let priority of priorities" [value]="priority">{{priority}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Choose due date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dueDate" (dateChange)="filterData()">
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- <button mat-raised-button color="primary" (click)="filterData()">Filter</button> -->
    <button mat-raised-button color="accent" (click)="filterData(true)">Reset Filter</button>
    <button mat-raised-button color="warn" (click)="openDialog()">Create Task</button>

</form>


<h2>Boards</h2>
<!-- <hello></hello> -->
<div class="board">
    <div class="lane lane-1" cdkDropList #todo="cdkDropList" [cdkDropListData]="toDoList"
        [cdkDropListConnectedTo]="[inProgress]" (cdkDropListDropped)="drop($event)" id="To Do"
        [cdkDropListEnterPredicate]="getDraggedItem1">
        <div class="heading todo">To Do</div>
        <div *ngFor="let item of toDoList; let ii = index" class="task"
            [ngClass]="{'priorityHigh': item.priority == 'High', 'priorityMedium': item.priority == 'Medium', 'priorityLow': item.priority == 'Low'}"
            cdkDrag [cdkDragData]="item">
            <div class="card">
                <div class="card-body">
                    <p class="card-text" style="margin:0px">Task Name:{{item.taskName}} </p>
                    <p class="card-text" style="margin:0px">Task Description:{{item.taskDescription}} </p>
                    <p class="card-text" style="margin:0px">Priority:{{item.priority}} </p>
                    <p class="card-text" style="margin:0px">Status:{{item.status}} </p>
                    <p>DueDate:{{format(item.dueDate)}}
                        <i style="float:right" (click)="openDialog(item?.id)"><mat-icon>edit</mat-icon></i>
                        <i style="float:right;padding-right:16px;color:red"
                            (click)="delete(item?.id)"><mat-icon>delete</mat-icon></i>
                    </p>
                </div> <!-- card body -->
            </div> <!-- card -->

        </div>
    </div>

    <div class="lane lane-2" cdkDropList #inProgress="cdkDropList" [cdkDropListData]="inProgressList"
        [cdkDropListConnectedTo]="[todo,complete]" (cdkDropListDropped)="drop($event)" id="In Progress"
        [cdkDropListEnterPredicate]="getDraggedItem2">
        <div class="heading doing">In Progress</div>
        <div *ngFor="let item of inProgressList ; let ii = index" class="task"
            [ngClass]="{'priorityHigh': item.priority == 'High', 'priorityMedium': item.priority == 'Medium', 'priorityLow': item.priority == 'Low'}"
            cdkDrag [cdkDragData]="item">


            <div class="card">
                <div class="card-body">
                    <p class="card-text" style="margin:0px">Task Name:{{item.taskName}} </p>
                    <p class="card-text" style="margin:0px">Task Description:{{item.taskDescription}} </p>
                    <p class="card-text" style="margin:0px">Priority:{{item.priority}} </p>
                    <p class="card-text" style="margin:0px">Status:{{item.status}} </p>
                    <p>DueDate:{{format(item.dueDate)}}
                        <i style="float:right" (click)="openDialog(item?.id)"><mat-icon>edit</mat-icon></i>
                        <i style="float:right;padding-right:16px;color:red"
                            (click)="delete(item?.id)"><mat-icon>delete</mat-icon></i>
                    </p>
                </div> <!-- card body -->
            </div> <!-- card -->


        </div>
    </div>

    <div class="lane lane-2" cdkDropList #complete="cdkDropList" [cdkDropListData]="completeList"
        [cdkDropListConnectedTo]="[todo]" (cdkDropListDropped)="drop($event)" id="Complete"
        [cdkDropListEnterPredicate]="getDraggedItem3">
        <div class="heading complete">Complete</div>
        <div *ngFor="let item of completeList; let ii=index" class="task"
            [ngClass]="{'priorityHigh': item?.priority == 'High', 'priorityMedium': item?.priority == 'Medium', 'priorityLow': item?.priority == 'Low'}"
            cdkDrag [cdkDragData]="item">


            <div class="card">
                <div class="card-body">
                    <p class="card-text" style="margin:0px">Task Name:{{item.taskName}} </p>
                    <p class="card-text" style="margin:0px">Task Description:{{item.taskDescription}} </p>
                    <p class="card-text" style="margin:0px">Priority:{{item.priority}} </p>
                    <p class="card-text" style="margin:0px">Status:{{item.status}} </p>
                    <p>DueDate:{{format(item.dueDate)}}
                        <i style="float:right" (click)="openDialog(item?.id)"><mat-icon>edit</mat-icon></i>
                        <i style="float:right;padding-right:16px;color:red"
                            (click)="delete(item.id)"><mat-icon>delete</mat-icon></i>
                    </p>
                </div> <!-- card body -->
            </div> <!-- card -->


        </div>
    </div>

</div>