.example-form {
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    flex-wrap: wrap;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

div {
    font-family: Lato;
}

.board {
    width: 98vw;
    border: 0px solid saddlebrown;
    height: 600px;
    display: flex;
}

.lane {
    border: 1px solid black;
    padding: 2px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 33vw;
    overflow-x: scroll;
}

.task {

    margin-bottom: 0.5em;
    background: whitesmoke;
    cursor: pointer;
    font-size: 0.85em;
    font-family: "Roboto Slab", sans-serif;
    border-left-style: solid;
    /* border-left-color: red; */
    padding: 5px;
}

.task:hover {
    outline: 3px solid #205081;
}

.heading {
    padding: 1em 0;
    font-weight: bolder;
    background: #ffffff;
    color: #000000;
    border-bottom: 0.5em solid #ffffff;
    text-align: center;
    font-family: "Roboto Slab", sans-serif;
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.todo {
    background: #3572b0;
}

.doing {
    background: #f6c342;
}

.complete {
    background: #14892c;
}

.priorityHigh {
    border-left-color: red;
    background-color: antiquewhite;
}

.priorityLow {
    border-left-color: blue;
    background-color: aliceblue;
}

.priorityMedium {
    border-left-color: orange;
    background-color: lightyellow;
}